:root {
    --footer-font-size: 20px;
}

.footer {
    background-color: var(--arara-black);
    font-family: var(--arara-font-family);
    font-size: var(--footer-font-size);
}

@media (max-width: 767px) {
    :root {
        --footer-font-size: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    :root {
        --footer-font-size: 10px;
    }
}