/* Paleta de cor ararabots */

:root {
    --arara-red: #D91F25;
    --arara-black: #090B0B;
    --arara-white: #f2f2f2;
    --arara-lightgray: #A4A4A4;
    --arara-darkgray: #717171;
    --arara-font-family: 'Zen Dots', Arial, Helvetica, sans-serif;
    --arara-font-size-title: 60px;
    --arara-font-size-big: 40px;
    --arara-font-size-small: 20px;
    --arara-text-indent: 50px;
}

body {
    background-color: var(--arara-black);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 767px) {
    :root {
        --arara-font-size-title: 30px;
        --arara-font-size-big: 24px;
        --arara-font-size-small: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    :root {
        --arara-font-size-title: 40px;
        --arara-font-size-big: 32px;
        --arara-font-size-small: 14px;
    }
}