:root {
    --categories-data-align-items: flex-start;
    --categories-data-card-width: 33%;
    --categories-data-flex-direction: row;
    --categories-data-img-height: 20vh;
}

body {
    background-image: url(/img/background/waves_papercut.png);
}

.categories-data .card-title,
.categories-intro .card-title {
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-title);
}


/* Into */
.categories-intro .card {
    background-color: var(--arara-background-color-transparent);
    color: var(--arara-white);
}

.categories-intro .card-text {
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-big);
    text-align: justify;
    text-indent: var(--arara-text-indent);
    text-justify: inter-word;
}

/* Data */
.categories-data {
    align-items: var(--categories-data-align-items);
    flex-direction: var(--categories-data-flex-direction);
}

.categories-data .card {
    background-color: var(--arara-background-color-transparent);
    color: var(--arara-white);
    width: var(--categories-data-card-width);

    &:hover {
        border: 1px solid var(--arara-color-white);
    }
}

.categories-data .card-text {
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-small);
    text-align: justify;
    text-indent: var(--arara-text-indent);
    text-justify: inter-word;
}


.categories-data .card-img-top {
    height: var(--categories-data-img-height);
    width: auto;
}

@media screen and (orientation: portrait) {
    :root {
        --categories-data-align-items: center;
        --categories-data-card-width: 95%;
        --categories-data-flex-direction: column;
    }
}