:root {
    --events-carousel-d-block-height: 50dvh;
}

body {
    background-image: url(/img/background/arara_papercut.png);
}

.title {
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-title);
}

.d-block {
    height: var(--events-carousel-d-block-height);
    object-fit: contain;
    width: 100vw;
}

.container .card {
    background-color: var(--arara-background-color-transparent);
    color: var(--arara-color-white);
    flex-direction: var(--sponsorship-flex-direction);
    font-family: var(--arara-font-family);
}

@media screen and (orientation: portrait) {
    :root {
        --events-carousel-d-block-height: auto;
    }
}