:root {
    --index-actuation-area-height: 15rem;
    --index-actuation-area-width: 15rem;
    --index-carrousel-height: 80vh;
    --index-declaration-align-items: flex-start;
    --index-declaration-card-width: 30%;
    --index-declaration-flex-direction: row;
    --index-intro-card-top: 130px;
}

body {
    background-image: url(/img/background/topographic_papercut.png);
}

.index-intro .card {
    background-color: var(--arara-color-black);
    color: var(--arara-color-white);
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-big);
    top: var(--index-intro-card-top);
    z-index: 1;
}

.index-intro .d-block {
    height: var(--index-carrousel-height);
    object-fit: cover;
    width: 100vw;
}

.container .title,
.container-fluid .title{
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-title);
}

.container .card,
.container-fluid .card {
    background-color: var(--arara-background-color-transparent);
    color: var(--arara-color-white);
}

.index-description .card-text,
.index-declaration-cards .card-text  {
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-small);
    text-align: justify;
    text-indent: var(--arara-text-indent);
    text-justify: inter-word;
}

.index-actuation-area {
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-small);
}

.index-actuation-area .card {
    height: var(--index-actuation-area-height);
    width: var(--index-actuation-area-width);
}

.index-declaration-cards {
    align-items: var(--index-declaration-align-items);
    flex-direction: var(--index-declaration-flex-direction);
}

.index-declaration-cards .card {
    width: var(--index-declaration-card-width);
}

.index-declaration-cards .card-title {
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-big);
    text-align: center;
}

.index-declaration-cards .values .card-text {
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-small);
    list-style: none;
    text-align: center;
    text-indent: 0px;
}

@media screen and (orientation: portrait) {
    :root {
        --index-carrousel-height: 60vh;
        --index-declaration-align-items: center;
        --index-declaration-card-width: 90%;
        --index-declaration-flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    :root {
        --index-actuation-area-height: 10rem;
        --index-actuation-area-width: 10rem;
        --index-intro-card-top: 90px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    :root {
        --index-actuation-area-height: 12rem;
        --index-actuation-area-width: 12rem;
        --index-intro-card-top: 90px;
    }
}