:root {
    --ingress-body-height: 100vh;
    --ingress-card-height: 20rem;
    --ingress-card-width: 30vw;
    --ingress-flex-direction: row;
    --ingress-thumbnail-height: auto;
    --ingress-thumbnail-width: 40vw;
}

body {
    background-image: url(/img/background/faces_papercut.png);
    height: var(--ingress-body-height);
}

.ingress {
    flex-direction: var(--ingress-flex-direction);
    height: 100%;
}

.ingress .btn {
    background-color: var(--arara-red);
    border-color: var(--arara-red);
    width: 60%;

    &:hover {
        background-color: var(--arara-black);
        border-color: var(--arara-red);
    }
}

.ingress .rounded {
    height: var(--ingress-thumbnail-height);
    width: var(--ingress-thumbnail-width);
}

.ingress .card {
    background-color: var(--arara-black);
    color: var(--arara-white);
    height: var(--ingress-card-height);
    width: var(--ingress-card-width);
}

.ingress .card-text {
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size-small);
}

@media screen and (orientation: portrait) and (max-width: 767px) {
    :root {
        --ingress-body-height: 110vh;
        --ingress-card-width: 70vw;
        --ingress-flex-direction: column;
        --ingress-thumbnail-height: auto;
        --ingress-thumbnail-width: 90vw;
    }
}

@media screen and (orientation: portrait) and (min-width: 768px) {
    :root {
        --ingress-card-width: 70vw;
        --ingress-flex-direction: column;
        --ingress-thumbnail-height: auto;
        --ingress-thumbnail-width: 90vw;
    }
}