:root {
    --ingress-body-height: 100vh;
    --ingress-card-height: 18rem;
    --ingress-card-width: 30vw;
    --ingress-flex-direction: row;
    --ingress-thumbnail-height: auto;
    --ingress-thumbnail-width: 40vw;
}

body {
    background-image: url(/img/background/faces_papercut.png);
    height: var(--ingress-body-height);
}

.ingress {
    height: 100%;
}

.ingress .container-fluid {
    flex-direction: var(--ingress-flex-direction);
}

.ingress .btn {
    background-color: var(--arara-red);
    border-color: var(--arara-red);
    width: 60%;

    &:hover {
        background-color: var(--arara-black);
        border-color: var(--arara-red);
    }
}

.ingress .rounded {
    height: var(--ingress-thumbnail-height);
    width: var(--ingress-thumbnail-width);
}

.ingress .container-fluid .card {
    background-color: var(--arara-black);
    color: white;
    height: var(--ingress-card-height);
    width: var(--ingress-card-width);
}

.ingress .h5 {
    font-family: var(--arara-font-family);

}

.ingress .lead {
    font-family: var(--arara-font-family);
    font-size: var(--arara-font-size);
}

@media screen and (orientation: portrait) and (max-width: 767px) {
    :root {
        --ingress-body-height: 140vh;
        --ingress-card-width: 70vw;
        --ingress-flex-direction: column;
        --ingress-thumbnail-height: auto;
        --ingress-thumbnail-width: 90vw;
    }
}

@media screen and (orientation: portrait) and (min-width: 768px) {
    :root {
        --ingress-card-width: 70vw;
        --ingress-flex-direction: column;
        --ingress-thumbnail-height: auto;
        --ingress-thumbnail-width: 90vw;
    }
}